<div class="customer">
  <h1>New Customer</h1>

  <label for="">Name</label>
  <input type="text" placeholder="Name">

  <label for="">Street</label>
  <input type="text" placeholder="Street">

  <label for="">Postnr</label>
  <input type="text" placeholder="Postnr">

  <label for="">City</label>
  <input type="text" placeholder="City">

  <input type="button" value="Create">


</div>
