.invoice {
  @include outer-container;
  @include span-columns(8);
  @include shift(2);

  .test {
    @include fill-parent();
  }

  .rows {
    @include fill-parent();
  }

  .rows table input {
    margin-bottom: 0;
  }

  th.delete {
    width: 50px;
  }

  button.delete {
    background: red;
  }

  .customer-name, .meck {
    @include span-columns(4 of 8);
  }

  .rows {
    @include fill-parent();
  }

}

select {
  background: white;
  padding: 0.5em;
  font-size: 1em;
}
